<html>
	
<head>
	<link rel="stylesheet" type="text/css" href="/css/cssko.css">
</head>
	
<body id="body1">
	
<ul id="ul1">
  <li><a id="nav1" href="/../index.html">Home</a></li>
  <li><a id="nav1" href="/../pages/hobbies.html">Hobbies</a></li>
  <li><a id="nav1" href="/../pages/school.html">School</a></li>
  <li><a id="nav1" href="/../pages/aboutme.html">About me</a></li>
  <li><a id="nav1" href="/../pages/cv.html">CV</a></li>
  <li><a id="nav1" href="/blog">Traveling</a></li>
</ul>
	
<div id="post1">
	{{ content }}	
	
</div>
	
<footer>
  <ul id="footer-style">
      <li><a id="footer" href="mailto:emblemiq@gmail.com">E-mail</a></li>
      <li><a id="footer" href="https://github.com/swexo">My directory</a></li>
	  <li><a id="footer" href="https://www.facebook.com/robert.s.balaz">Facebook</a></li>
  </ul>
</footer>
</body>
		
</html>