<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/skuska_css.css">
</head>
<header>
  <div class="header">
	{{ content }}		
  </div>
</header>
<body>
<div id="body1">
	
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#school">School work</a></li>
  <li><a href="#hobby">Hobby</a></li>
</ul>

<h3>Sticky Navigation Bar Example</h3>
<p>Sempride nejak text na uvod, o mne atd atd atd </p>
	
<footer>
  <ul>
      <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
      <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
  </ul>
</footer>
	</div>
</body>
</html>
