<!DOCTYPE html>
<html>
	
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/cssko.css">
</head>
	
<body id="body1">
	
<div>
	{{ content }}		
</div>
	
<footer>
  <ul id="footer-style">
      <li><a id="footer" href="mailto:emblemiq@gmail.com">E-mail</a></li>
      <li><a id="footer" href="https://github.com/swexo">My directory</a></li>
	  <li><a id="footer" href="https://www.facebook.com/robert.s.balaz">Facebook</a></li>
  </ul>
</footer>
</body>
		
</html>
